@model InternetSalesViewModel

<div class="container">
    <div class="row pt-4 pb-3">
        <div class="col-6">
            <h1>Customer Information</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="" asp-action="" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create New Customer
            </a>
        </div>
    </div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Business Owner</th>
        <th>Business Name</th>
        <th>Business Address</th>
        <th>Phone Number</th>
        <th>Internet</th>
        <th>Landline</th>
        <th>Mobile</th>
        <th>Tv Service</th>
    </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.CustomerList.OrderBy(x => x.BusinessName))
        {
            <tr>
                <td>@item.BusinessOwner</td>
                <td>@item.BusinessName</td>
                <td>@item.BusinessAddress</td>
                <td>@item.PhoneNumber</td>
                <td>@item.PurchasedInternet</td>
                <td>@item.PurchasedPhone</td>
                <td>@item.PurchasedCellService</td>
                <td>@item.TvService</td>
            </tr>
        }
    </tbody>
</table>
</div>